# -------------------------
# macOS / Windows junk
# -------------------------
.DS_Store
**/.DS_Store
Thumbs.db

# -------------------------
# Python bytecode / cache
# -------------------------
*.pyc
**/*.pyc
__pycache__/
**/__pycache__/

# -------------------------
# Python virtual env / IDE
# -------------------------
venv/
.venv/
.idea/
.vscode/
.env
.pytest_cache/

# -------------------------
# Backend generated folders
# -------------------------
backend_api/uploads/
backend_api/app/stagingFiles/

# -------------------------
# Angular / Node generated folders
# -------------------------
frontend/nepali-voice-ui/node_modules/
frontend/nepali-voice-ui/dist/
frontend/nepali-voice-ui/.angular/
frontend/nepali-voice-ui/coverage/
frontend/nepali-voice-ui/.vscode/

# -------------------------
# Optional local env files
# -------------------------
frontend/nepali-voice-ui/.env
backend_api/.env


backend_api/package-lock.json
frontend/package-lock.json

# Local trained voice models
backend_api/models/
*.pth
*.index
*.zip